---

interface Props {
  "texto-boton": string;
  class?: string;
}

const { "texto-boton": textoBoton, class: className = "button1" } = Astro.props;
---
<button class={className}>{textoBoton}</button>
