---
<<<<<<< HEAD
import "./styles.css";

interface Props {
  label: string;
  type?: string;
  name?: string;
  autocomplete?: string;
  required?: boolean;
}

const {
  label = "",
  type = "text",
  required = true,
  ...props
} = Astro.props;

=======
import './styles.css';


interface Props {
  label: string;
}
let { label = "", ...props } = Astro.props;
>>>>>>> 291e8be88fc8c9084ff86c00e59c808ef028634a
type LabelChar = string;
type LabelIdx = number;
---

<div class="wave-group">
  <input
    class="input"
    type={type}
    required={required}
    {...props}
  />
  <span class="bar"></span>
  <label class="label">
    {(label.split("") as LabelChar[]).map((char: LabelChar, idx: LabelIdx) => (
      <span class="label-char" style={`--index: ${idx}`}>{char}</span>
    ))}
  </label>
</div>