---
import '../styles/global.css';
import Header from '../components/shared/Header.astro';
import Footer from '../components/shared/Footer.astro';
import Background from '../components/shared/background.astro';

interface Props {
  title?: string;
  description?: string;
}

---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title}</title>
    <link rel="icon" href="/favicon.png" type="image/png" />
    <meta name="description" content={Astro.props.description} />
  </head>
  <body>
    <Background />
    <Header />

    <main>
      <slot />
    </main>

    <Footer  />
  </body>

</html>